<!doctype html>
<html>
  <head>
    <title>Jinja2 Operation</title>
  </head>

  <body>
    <h2>Books</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
        </tr>

        {% for book in books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
        </tr>
        {% endfor %}

    <h2>Add Book</h2>
    <form action="/add" method="POST">
        <input type="text" name="name" placeholder="Book name">
        <br>
        <input type="text" name="author" placeholder="Author">
        <br>
        <button type="submit">Add Book</button>
    </form>    
    </table>
  </body>
</html>
